<div id="calcu" data-template="site/calcu">
    <h1 class="text-center">Welcome to Calculate me!</h1>
  <div class="container flex flex-col items-center mx-auto m-w-20">
    <div class="row">
      <input class="input" type="text" id="inputFields"/>
    </div>
    <div class="row">
      <button data-act="click" data-func="btn7" class="button">7</button>
      <button data-act="click" data-func="btn8" class="button">8</button>
      <button data-act="click" data-func="btn9" class="button">9</button>
      <button data-act="click" data-func="multi" class="button">*</button>
    </div>
    <div class="row">
      <button data-act="click" data-func="btn4" class="button">4</button>
      <button data-act="click" data-func="btn5" class="button">5</button>
      <button data-act="click" data-func="btn6" class="button">6</button>
      <button data-act="click" data-func="divide"  class="button">/</button> 
    </div>
    <div class="row">
      <button data-act="click" data-func="btn1" class="button">1</button>
      <button data-act="click" data-func="btn2" class="button">2</button>
      <button data-act="click" data-func="btn3" class="button">3</button>
      <button data-act="click" data-func="add" class="button">+</button>
    </div>
    <div class="row">
      <button class="button">0</button>
      <button data-act="click" data-func="total" class="button">=</button>
      <button data-act="click" data-func="min" class="button">-</button>
    </div>
  </div>
</div>